<ion-grid fixed>
  <ion-row *ngIf="!(news$ | async)">
    <ion-col *ngFor="let fakeArticle of fakeArticles" size="12">
      <ion-skeleton-text width="35%"></ion-skeleton-text>
      <ion-skeleton-text width="75%"></ion-skeleton-text>
      <ion-skeleton-text width="100%"></ion-skeleton-text>
      <ion-skeleton-text width="80%"></ion-skeleton-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let article of (news$ | async)?.articles" size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
      <app-article [article]="article"></app-article>
    </ion-col>
  </ion-row>
</ion-grid>
